body {
  margin: 0;
}
#world {
  color: #ffffff;
  font-size: 25px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}
#showEmote {
  position: absolute;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas: ". . ." ". img ." ". . .";
}
#showEmote img {
  grid-area: img;
}
