#world {
  color: #ffffff;
  font-size: 25px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}
